body {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;
    color: #282828;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}